@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Ubuntu&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}
.info{
    margin-top: 10px;
    background-color: #e9ecef;
    padding: 30px 20px;
    border-radius: 10px;
    line-height: 30px;
}
.sever_msg{
    color: #495057;
    font-size: 24px;
    text-align: center;
    background-color: #a3a5a7;
    padding: 10px 0px   ;
}
.form{
    width: 30%;
    margin: 4px auto;
    border: 2px solid black;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.header{
    color: black;
    text-align: center;
    margin-bottom: 30px;
    font-size: 32px;
}
.form img{
    width: 20px;
}
.form_input{
    width: 95%;
    padding: 5px 20px;
    margin: 15px 0px;
    font-size: 18px;
    border: none;
}
.form_input:focus{
    outline: none;
}
.input-block{
    display: flex;
    border-bottom: 2px solid rgba(21, 3, 41, 0.541);
}
.form button{
    padding: 10px 12px;
    margin-top: 20px;
    background-color:black;
    color: beige;
    border-radius: 7px;
    border-color: aliceblue;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}
.form button:hover{
    opacity: 70%;
}

.eye_icon{
    padding-top: 20px;
    padding-right: 20px;
}

.topnav{
    display: flex;
    position: fixed;
    background-color: white;
    height: 50px;
    width: 100%;
    top: 0px;
    z-index: 1;
    justify-content: space-between;
    box-shadow: 1px 2px 10px #a3a5a7;
}
.nav_logo{
    padding: 7px 30px;
    height: 30px;
}
.nav_menu{
    display: flex;
}
.nav_item{
    line-height: 50px;
    padding: 0px 20px;
    list-style: none;
    cursor: pointer;
}
#nav_icon{
    display: none;
    padding: 20px 30px;
    height: 30px;
}
.active{
    border-bottom: 2px solid black;
}
.nav_link{
    font-weight: bolder ;
    color: black;
    text-decoration: none;
}

.sub_menu{
    display: none;
    padding: 5px 20px;
    list-style: none;
    width: 150px;
    border: 1px dotted black;
    border-top: none;
    position: absolute;
    right: 0px;
    text-align: center;
    background-color: white;
    box-shadow: 1px 2px 10px #a3a5a7;

}
.sub_menu a{
    text-decoration: none;
    
    /* background-color: white; */
    padding: 5px 20px;
    
    
}
.nav_profile{
    padding: 0px 10px;
    cursor: fi;
}
.mb_view_menu{
    display: none;
}
/* .nav_profile:hover .sub_menu{
    display: block;
} */
.sub_nav_item{
    padding: 0px;
}
.container{
    width: 80%;
    margin: 0px auto;
    margin-top: 60px;
}
.dropdown{
    display: none;
}
.dropdown_item:hover > .dropdown{
    display: block;
}

.search{
    line-height: 40px;
    font-size: 20px;
}
.searchBox{
    height: 30px;
    width: 250px;
    padding: 0px 10px;
}
.searchBox:focus{
    outline: 1.5px solid black;
}
.searchIcon{
    font-size: 18px;
    height: 30px;
    width: 30px;
    border: none;
    background-color: white;
}
.nav_search{
    display: none;
}


.row{
    display: flex;
    width: 100%;
    height: 400px;
    /* overflow: hidden;     */
    
}
.side_category{
    width: 20%;
    margin-right: 5px;
    overflow: hidden;
    background-color: ghostwhite;
}

.side_category ul{
    text-align: left;
    list-style: none;
    padding: 8px 10px;
}
.side_category ul li{
    line-height: 35px;
}
.side_category ul li a{
    color: black;
    text-decoration: none;
}
.carousel{
    width: 80%;
    position: relative;
    height: 100%;
    background-color: snow;
}
.carousel_images{
    display: flex;
}
.carousel_img{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 100%;
    max-height: 400px;
    overflow: hidden;
    /* background-color: rebeccapurple; */
}
.carousel_hidden_img{
    display: none;
}
.carousel_active{
    display: block;
}
.carousel_prev , .carousel_next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 10%;
    font-size: 30px;
    color: transparent;
    height: 100%;
    border: none;
    background-color: transparent;
}
.carousel_prev:hover, .carousel_next:hover{
    background-color: rgba(111, 110, 112, 0.692);
    color: white;
}
.carousel_prev{
    left: 0px;
}

.carousel_next{
    right: 0px;
}

.card_header{
    margin: 10px 10px;
    color: #495057;
    font-size: 32px;
}
.product_cards{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-flow: row;
    /* background-color: gray; */
    text-align: center;
    grid-row: auto;
    align-items: center;
    justify-items: center;
}
.card{
    margin: 5px;
    height: 350px;
    width: 225px;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}
.card a{
    text-decoration: none;
}
.card-image{
    height: 70%;
    width: 100%;   
}
.cardText{
    height: 30%;
    color: black;
    
}
.cardTitle{
    padding: 5px 0px;
    text-align: justify;
    font-size: 14px;
    height: 30px;
    width: 90%;
    overflow: hidden;
    margin: 5px auto;
}
.offer-price{
    text-decoration: none;
    padding: 0px 10px;
    text-align: left;
    color: rgb(255, 123, 0);
    font-weight: bold;
    font-size: 22px;
    margin: 5px 0px;
}
.actual-price{
    padding: 0px 10px;
    text-align: left;
    font-size: 14px;
}
.card:hover{
    box-shadow : 0.5px 0.5px 8px rgba(80, 76, 76, 0.623);
}

.detail_row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    
}
.product_img_col{
    width: 40%;
    position: relative;
    text-align: center;
}
.detail_product_img{
    width: auto;
    height: 350px;
    /* position: absolute; */
    /* top: 50%; */
    /* transform: translatey(-50%); */
}
.p_detail_text_col{
    width: 50%;
    padding: 20px;
    text-align: justify;
}
.product_desc{
    margin-top: 50px;
    text-align: justify;
    background-color: #e9ecef;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 10px;
}
.p_detail_text_col p{
    margin: 20px 0px;
}
.qty_input{
    text-align: center;
    font-size: 24px;
    width: 90px;
    height: 30px;
}
.qty_add_sub_btn{
    font-size: 24px;
    width: 30px;
    height: 30px;
}
.detail_view_action{
    margin: 20px 0px    ;
}
.detail_view_form{
    display: inline;
}
.detailview_btn{
    margin: 20px 5px;
    padding: 1px 20px;
    line-height: 40px;
    background-color: #26abd4;
    color: white;
    text-decoration: none;
    border: none;
}
.buy_btn{
    background-color: #d0611e;
}
.error{
    color:red;
}
.server_error{
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 20px 50px;
    color:red; 
    text-align: center;
    background-color: rgba(241, 112, 112, 0.226);
    line-height: 30px;
    border-bottom: 2px solid red;
}
.server_success{
    position: absolute;
    bottom: 50px;
    right: 50px;
    padding: 20px 50px;
    color:rgb(6, 134, 6); 
    text-align: center;
    background-color: rgba(108, 243, 164, 0.226);
    line-height: 30px;
    border-bottom: 2px solid rgb(6, 134, 6);
}
.btn{
    background-color: #495057;
    color: #e9ecef;
    padding: 13px 30px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}
.profile_row{
    margin-top: 80px;
    display: flex;
}
.col_6{
    width: 75%;
}
.col_4{
    width: 25%;
}
.profile_side_panel{
    position: fixed;
    top: 85px;
    right: 50px;
    width: 300px;
    background-color: #e9ecef ;
    padding: 20px 10px;
    text-align: center;
    border-radius: 10px;
}
.side_panel_item{
    margin: 5px auto;
    line-height: 35px;
    width: 80%;
    background-color: #495057;
    border-radius: 10px;
}
.side_panel_link{
    color: white;
    text-decoration: none;
}
.footer{
    margin-top: 20px;
    padding: 20px 0px;
    background-color: #636669;
    min-height: 250px;
}
.footer_content{
    text-align: center;
    padding-top: 10px;
    width: 80%;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
}
.footer_col{
    width: 33.33%;
}
.footer_link{
    color: white;
    text-decoration: none;
    line-height: 30px;
}
.footer_header{
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin: 10px 0px;
}
.footer_col ul{
    list-style: none;
}
.feedback_form{
    width: 100%;
    text-align: center;
}

.feedback_input{
    width: 80%;
    height: 30px;
    font-size: 18px;
    margin: 10px 0px;
    padding: 0px 10px;
}
.feedback_input:focus{
    outline: 2px solid black    ;
}
.feedback_textarea{
    width: 80%;
    height: 350px;
    resize: none;
    margin: 10px 0px;
    font-size: 18px;
    padding: 0px 10px;
}
.feedback_textarea:focus{
    outline: 2px solid black    ;
}

.aboutus_head{
    font-size: 42px;
    margin: 40px 0px;
    color: #495057;
}
.about_img{
    width: 50%;
}
.about_text{
    width: 40%;
    padding: 40px;
    line-height: 25px;
}
.about_intro, .objective{
    display: flex;
    width: 100%;
    background-color: #d3d4d4;
    margin: 40px auto;
    box-shadow: 1px 2px 10px #a3a5a7;
    flex-wrap: wrap;
}
.objective{
    flex-wrap: wrap-reverse;
}
.introduction_image{
    width: 520px;
    height: 100%;
}
.objective_image{
    width: 520;
    height: 100%;
}
.objective_list{
    line-height: 40px;
}

.pagination_btns{
    margin: 20px 0px;
    text-align: center;
}
.pagination_btn{
    background-color: #6c757d;
    text-decoration: none;
    color: #e9ecef;
    margin: 0px 5px;
    padding: 3px 8px;
    font-size: 22px;
    border-radius: 5px;
}
.cart_all_action{
    width: 100%;
    text-align: right;
}
.cart_all_action_btn{
    line-height: 40px;
    padding: 15px 30px;
    color: white;
    text-decoration: none;
}
.cart_buy_form{
    display: inline-block;
}
.cart_form_btn{
    cursor: pointer;
    padding: 16px 25px;
    color: white;
    border: none;
}
.carts{
    width: 100%;
    margin: 20px 0px;
}
.cart{
    width: 100%;
    padding: 20px;
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
    
}
.cart:hover, .order_item:hover{
    box-shadow: 1px 2px 10px #a3a5a7;
}
.cart_img{
    width: 150px;
    height: 150px;
}
.cart_text{
    width: 60%;
    height: 100px;
}

.cart_text p{
    text-align: justify;
    height: 40px;
    line-height: 20px;
    width: 100%;
    overflow: hidden;
}
.cart_price{
    margin: 5px 0px;
    width: 100%;
    text-align: right;
}
.cart_action{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
} 

.cart_btn{
    margin: 5px;
    line-height: 40px;
    padding: 0px 10px;
    text-decoration: none;
    border: none;
    color: white;
    cursor: pointer;
}
.danger_btn{
    color: white;
    background-color: rgb(222, 53, 53);
}
.primary_btn{
    color: white;
    background-color: rgb(28, 132, 243);
}
.go_btn{
    color: white;
    background-color: green;
}

.order_form{
    width: 70%;
    margin: 10px auto 50px auto;
}
.order_items{
    margin: 30px 0px;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(237, 240, 243);
}
.order_item{
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    /* background-color: #a3a5a7; */
}

.order_item_img{
    width: 150px;
    height: 150px;
}
.order_item_title{
    font-size: 24px;
    margin: 10px 0px;
    width: 100%;
    white-space: nowrap;
    text-overflow: "...";
    overflow: hidden;

}
.order_item_text{
    padding: 10px;
    max-height: 150px;
    min-width: 78%;
    overflow: hidden;
}
.order_label{
    font-weight: bold;
}
.order_item_desc{
    margin: 5px 0px;
    white-space: nowrap;
    width: 100%;
    text-overflow: "...";
    overflow: hidden;
}
.qty_order_input{
    width: 60px;
    height: 30px;
}
.order_div{
    display: flex;
    height: 40px;
    justify-content: space-between;
}
.order_input_row{
    margin: 10px;
}
.link_btn{
    padding: 10px 30px;
    margin: 0px;
}
.delivery_label{
    display: inline-block;
    width: 150px;
}
.inputBox_order{
    height: 30px;
    width: 450px;
    padding: 2px 10px;
    font-size: 14px;
}
.inputBox_order:focus{
    outline: 2px solid #495057;
}
.total_price{
    color: #495057;
    font-size: 24px;
}
.order_btn{
    cursor: pointer;
    font-size: 18px;
    border: none;
    padding: 9px 30px;
    color: white;
}
.order_row{
    display: flex;
    line-height: 40px;
    margin: 20px 0px;
}
.payment_logo{
    height: 40px;
    width: 40px;
}
.radio_btn_order{
    margin: 10px 0px;
    margin-left: 20px;
    margin-right: 5px;
    width: 18px;
    height:18px;
    line-height: 40px;
}
.payment_method_txt{
    font-size: 18px;
    font-weight: bold;
}
.feedback_content{
    background-color: #e9ecef;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.feedback_card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 0px;
}
.feedback_card_action{
    text-align: right;
    margin-top: 10px;
    line-height: 30px;
}
.feedback_btn{
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 10px;
}
.trasaction_success{
    background-color: rgba(108, 243, 164, 0.226);
    color: rgb(6, 134, 6);
    border-bottom: 4px solid rgb(6, 134, 6);
    font-size: 32px;
    text-align: center;
    padding: 30px 0px;
}
.trasaction_fail{
    background-color: rgba(241, 112, 112, 0.226);
    color: rgb(222, 53, 53);
    border-bottom: 4px solid rgb(222, 53, 53);
    font-size: 32px;
    text-align: center;
    padding: 30px 0px;
}

.product_list{
    display: flex;
    background-color: #e9ecef;
    box-shadow: 1px 2px 10px #a3a5a7;
    margin: 10px 0px 20px 0px;
}
.morder_prod_title{
    height: 50px;
    line-height: 25px;
    width: 100%;
    overflow: hidden;
}
.morder_prod_content p{
    height: 46px;
    line-height: 23px;
    width: 100%;
    overflow: hidden;
}
.myorder_prod_img{
    width: 120px;
    height: 120px;
    margin: 5px;
    vertical-align: middle;
}
.morder_date{
    text-align: right;
}
.disable_link{
    text-decoration: none;
    color: black;
}
.morder_prod_content .offer-price{
    display: block;
    text-align: right;

}

#as_price_error{
    color: red;
}

.filter_toogler{
    text-align: left;
}
.category_cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    margin: 5px auto;
    text-align: center;
}
.category_card{
    border: 1px solid black;
    display: inline-block;
    width: 150px;
    line-height: 50px;
    text-align: center;
    margin: 10px;
    border-radius: 10px 20px;
}
@media (max-width: 600px) {
    .container{
        width: 100%;
    }

    .form{
        width: 80%;
    }

    #nav_icon{
        display: block;
    }
    .nav_menu{
        position: absolute;
        left: 50%;
        width: 100%;
        height: 100vh;
        transform: translateX(-50%);
        text-align: center;
        background-color: white;
        margin-top: 40px;
        display: none;
        flex-direction: column;
    }
    .active{
        border-bottom: 2px solid black;
        width: 80%;
        margin: 0px auto;
    }
    .side_category{
        display: none;
    }
    .carousel{
        width: 100%;
    }
    .carousel_prev, .carousel_next{
        width: 100px;
    }
    


    .product_cards{
        grid-template-columns: repeat(2,1fr);
    }
    .card{
        margin: 5px;
        height: 255px;
        width: 160px;
        background-color: rgb(255, 255, 255);
        overflow: hidden;
    }
    
    .product_img_col{
        width: 100%;
    }
    .detail_product_img{
        width: auto;
    }
    .p_detail_text_col{
        margin-top: 20px;
        width: 100%;
        text-align: justify;
        display: block;
        padding: 0px 10px;
    }
    .product_desc{
        margin-top: 20px;
        padding: 20px;
    }
    .product_desc h1{
        margin: 10px 0px;
    }
    .detailview_btn{
        width: 100px;
    }
    .footer_col{
        width: 100%;
        border-bottom: 2px solid white;
        padding-bottom: 20px ;
    }
    .about_img{
        width: 100%;
    }
    .introduction_image, .objective_image{
        width: 100%;
    }
    .about_text{
        width: 100%;
    }
    .profile_side_panel{
        display: none;
    }
    .sub_menu{
        display: block;
        list-style: none;
        width: 100%;
        border: none;
        position: relative;
        text-align: center;
        background-color: white;
        box-shadow: none;
        padding: 0px;
    }
    .col_6{
        width: 100%;
    }
    .cart{
        width: 90%;
        flex-wrap: wrap;
    }
    .cart_img{
        width: 120px;
        height: 120px;
    }
    .cart_product_title{
        height: 40px;
        line-height: 40px;
        width: 100%;
        overflow: hidden;
    }
    .cart_action{
        width: 100%;
    }
    .cart_all_action{
        text-align: left;
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        line-height: 40px;
    }
    .cart_all_action_btn{
        padding: 5px 20px;
        margin: 0px 10px;
    }
    .cart_form_btn{
        padding: 18px 25px;
    }
    .nav_profile{
        display: none;
    }
    .mb_view_menu{
        display: block;
        text-align: center;
        width: 100%;
        list-style: none;
        line-height: 50px;
    }
    .category_cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
